apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: task-manager-pvc
  labels:
    app: task-manager
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
