apiVersion: v1
kind: Service
metadata:
  name: workflow-automation
  labels:
    app: workflow-automation
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  - port: 9090
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    app: workflow-automation
